.gb-header-cart_excel{
  .btn-cart-excel{
    background:  transparent;
    border: none;
    text-shadow:  none;
    box-shadow:  none;
    font-weight: 500;
    font-size: 14px;
    i{
      color: $color-main1-excel;
    }
  }
}