.gb-loctheo-sidebar-excel{
  .widget-title-sidebar-excel{
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    color: $color-1;
    margin-bottom: 20px;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 2px solid $color-main-excel;
  }
}